.tgph-button {
  --background-color: transparent;

  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
  background-color: var(--background-color);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  text-decoration: none;
}

/* We choose to manage the disabled background-color here as there are only two variations */
.tgph-button[data-tgph-button-state="disabled"][data-tgph-button-variant="solid"],
.tgph-button[data-tgph-button-state="disabled"][data-tgph-button-variant="soft"],
.tgph-button[data-tgph-button-state="disabled"][data-tgph-button-variant="outline"] {
  background-color: var(--tgph-gray-3);
}
.tgph-button[data-tgph-button-state="disabled"][data-tgph-button-variant="ghost"] {
  background-color: var(--tgph-transparent);
}

.tgph-button:disabled {
  cursor: not-allowed;
}

[data-tgph-button-loading-icon] {
  animation: button-loading-icon 1s infinite linear;
}

@keyframes button-loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
