.tgph-motion {
  --motion-opacity: 1;
  --motion-scale: 1;
  --motion-x: 0;
  --motion-y: 0;
  --motion-transition-duration: 0.2s;
  --motion-transition-type: ease-in-out;
  --motion-rotate: 0deg;

  opacity: var(--motion-opacity);
  transform: scale(var(--motion-scale))
    translate(var(--motion-x), var(--motion-y)) rotate(var(--motion-rotate));
  transition: all var(--motion-transition-duration)
    var(--motion-transition-type);
}
