.tgph-box {
  display: var(--tgph-display, block);
  padding: var(--tgph-padding);
  /* Tailwind css reset overrides this, so we need important specificity */
  margin: var(--tgph-margin) !important;
  background-color: var(--tgph-background-color);
  border-radius: var(--tgph-border-radius);
  border-width: var(--tgph-border-width, 0);
  border-color: var(--tgph-border-color);
  border-style: solid;
  height: var(--tgph-height, auto);
  width: var(--tgph-width, auto);
  max-width: var(--tgph-max-width, auto);
  max-height: var(--tgph-max-height, auto);
  border-style: var(--tgph-border-style, var(--tgph-border-style-solid, solid));
  box-shadow: var(--tgph-box-shadow, none);
}

.tgph-box {
  --tgph-display: var(--tgph-display-sm);
  --tgph-padding: var(--tgph-padding-sm);
  --tgph-margin: var(--tgph-margin-sm);
  --tgph-background-color: var(--tgph-background-color);
  --tgph-border-radius: var(--tgph-border-radius);
  --tgph-border-width: var(--tgph-border-width);
  --tgph-border-color: var(--tgph-border-color);
  --tgph-height: var(--tgph-height);
  --tgph-width: var(--tgph-width);
  --tgph-max-width: var(--tgph-max-width);
  --tgph-max-height: var(--tgph-max-height);
  --tgph-border-style: var(--tgph-border-style);
  --tgph-box-shadow: var(--tgph-box-shadow);
}

@media (--tgph-breakpoint-md) {
  .tgph-box {
    --tgph-display: var(--tgph-display-md);
    --tgph-padding: var(--tgph-padding-md);
    --tgph-margin: var(--tgph-margin-md);
    --tgph-background-color: var(--tgph-background-color-md);
    --tgph-border-radius: var(--tgph-border-radius-md);
    --tgph-border-width: var(--tgph-border-width-md);
    --tgph-border-color: var(--tgph-border-color-md);
    --tgph-height: var(--tgph-height-md);
    --tgph-width: var(--tgph-width-md);
    --tgph-max-width: var(--tgph-max-width-md);
    --tgph-max-height: var(--tgph-max-height-md);
    --tgph-border-style: var(--tgph-border-style-md);
    --tgph-box-shadow: var(--tgph-box-shadow-md);
  }
}

@media (--tgph-breakpoint-lg) {
  .tgph-box {
    --tgph-display: var(--tgph-display-lg);
    --tgph-padding: var(--tgph-padding-lg);
    --tgph-margin: var(--tgph-margin-lg);
    --tgph-background-color: var(--tgph-background-color-lg);
    --tgph-border-radius: var(--tgph-border-radius-lg);
    --tgph-border-width: var(--tgph-border-width-lg);
    --tgph-border-color: var(--tgph-border-color-lg);
    --tgph-height: var(--tgph-height-lg);
    --tgph-width: var(--tgph-width-lg);
    --tgph-max-width: var(--tgph-max-width-lg);
    --tgph-max-height: var(--tgph-max-height-lg);
    --tgph-border-style: var(--tgph-border-style-lg);
    --tgph-box-shadow: var(--tgph-box-shadow-lg);
  }
}

@media (--tgph-breakpoint-xl) {
  .tgph-box {
    --tgph-display: var(--tgph-display-xl);
    --tgph-padding: var(--tgph-padding-xl);
    --tgph-margin: var(--tgph-margin-xl);
    --tgph-background-color: var(--tgph-background-color-xl);
    --tgph-border-radius: var(--tgph-border-radius-xl);
    --tgph-border-width: var(--tgph-border-width-xl);
    --tgph-border-color: var(--tgph-border-color-xl);
    --tgph-height: var(--tgph-height-xl);
    --tgph-width: var(--tgph-width-xl);
    --tgph-max-width: var(--tgph-max-width-xl);
    --tgph-max-height: var(--tgph-max-height-xl);
    --tgph-border-style: var(--tgph-border-style-xl);
    --tgph-box-shadow: var(--tgph-box-shadow-xl);
  }
}

@media (--tgph-breakpoint-2xl) {
  .tgph-box {
    --tgph-display: var(--tgph-display-2xl);
    --tgph-padding: var(--tgph-padding-2xl);
    --tgph-margin: var(--tgph-margin-2xl);
    --tgph-background-color: var(--tgph-background-color-2xl);
    --tgph-border-radius: var(--tgph-border-radius-2xl);
    --tgph-border-width: var(--tgph-border-width-2xl);
    --tgph-border-color: var(--tgph-border-color-2xl);
    --tgph-height: var(--tgph-height-2xl);
    --tgph-width: var(--tgph-width-2xl);
    --tgph-max-width: var(--tgph-max-width-2xl);
    --tgph-max-height: var(--tgph-max-height-2xl);
    --tgph-border-style: var(--tgph-border-style-2xl);
    --tgph-box-shadow: var(--tgph-box-shadow-2xl);
  }
}
