.tgph-box {
  --background-color: none;
  --border-color: var(--tgph-gray-5);
  --box-shadow: none;
  --border-style: solid;
  --border-width: 0;
  --padding: 0;
  --margin: 0;
  --border-radius: 0;
  --width: auto;
  --max-width: auto;
  --min-width: auto;
  --height: auto;
  --max-height: auto;
  --min-height: auto;
  --z-index: auto;
  --position: static;
  --top: auto;
  --left: auto;
  --right: auto;
  --bottom: auto;
  --overflow: visible;

  background-color: var(--background-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  margin: var(--margin);
  border-radius: var(--border-radius);
  width: var(--width);
  max-width: var(--max-width);
  min-width: var(--min-width);
  height: var(--height);
  max-height: var(--max-height);
  min-height: var(--min-height);
  z-index: var(--z-index);
  position: var(--position);
  top: var(--top);
  left: var(--left);
  right: var(--right);
  bottom: var(--bottom);
  overflow: var(--overflow);
}


