.tgph-box {
  display: block;
  padding: var(--tgph-padding);
  margin: var(--tgph-margin);
}

.tgph-box {
  --tgph-padding: var(--tgph-padding-sm);
  --tgph-margin: var(--tgph-margin-sm);
}

@media (--tgph-breakpoint-md) {
  .tgph-box {
    --tgph-padding: var(--tgph-padding-md);
    --tgph-margin: var(--tgph-margin-md);
  }
}

@media (--tgph-breakpoint-lg) {
  .tgph-box {
    --tgph-padding: var(--tgph-padding-lg);
    --tgph-margin: var(--tgph-margin-lg);
  }
}

@media (--tgph-breakpoint-xl) {
  .tgph-box {
    --tgph-padding: var(--tgph-padding-xl);
    --tgph-margin: var(--tgph-margin-xl);
  }
}

@media (--tgph-breakpoint-2xl) {
  .tgph-box {
    --tgph-padding: var(--tgph-padding-2xl);
    --tgph-margin: var(--tgph-margin-2xl);
  }
}
