[data-tgph-markdown] *:first-child {
  margin-top: 0;
}

[data-tgph-markdown] *:last-child {
  margin-bottom: 0;
}

[data-chat-textarea] {
  resize: none;
  appearance: none;
}

[data-chat-textarea]:focus {
  outline: none;
}
