.tgph-stack {
  display: var(--tgph-display, flex);
  flex-direction: var(--tgph-flex-direction);
  align-items: var(--tgph-align-items, stretch);
  justify-content: var(--tgph-justify-content, flex-start);
  flex-wrap: var(--tgph-flex-wrap, nowrap);
  gap: var(--tgph-gap, 0);
}

.tgph-stack {
  --tgph-display: var(--tgph-display-sm);
  --tgph-flex-direction: var(--tgph-flex-direction-sm);
  --tgph-align-items: var(--tgph-align-items-sm);
  --tgph-justify-content: var(--tgph-justify-content-sm);
  --flex-wrap: var(--tgph-flex-wrap-sm);
  --tgph-gap: var(--tgph-gap-sm);
}

@media (--tgph-breakpoint-md) {
  .tgph-stack {
    --tgph-display: var(--tgph-display-md);
    --tgph-flex-direction: var(--tgph-flex-direction-md);
    --tgph-align-items: var(--tgph-align-items-md);
    --tgph-justify-content: var(--tgph-justify-content-md);
    --flex-wrap: var(--tgph-flex-wrap-md);
    --tgph-gap: var(--tgph-gap-md);
  }
}

@media (--tgph-breakpoint-lg) {
  .tgph-stack {
      --tgph-display: var(--tgph-display-lg);
    --tgph-flex-direction: var(--tgph-flex-direction-lg);
    --tgph-align-items: var(--tgph-align-items-lg);
    --tgph-justify-content: var(--tgph-justify-content-lg);
    --flex-wrap: var(--tgph-flex-wrap-lg);
    --tgph-gap: var(--tgph-gap-lg);
  }
}

@media (--tgph-breakpoint-xl) {
  .tgph-stack {
      --tgph-display: var(--tgph-display-xl);
    --tgph-flex-direction: var(--tgph-flex-direction-xl);
    --tgph-align-items: var(--tgph-align-items-xl);
    --tgph-justify-content: var(--tgph-justify-content-xl);
    --flex-wrap: var(--tgph-flex-wrap-xl);
    --tgph-gap: var(--tgph-gap-xl);
  }
}

@media (--tgph-breakpoint-xxl) {
  .tgph-stack {
      --tgph-display: var(--tgph-display-xxl);
    --tgph-flex-direction: var(--tgph-flex-direction-xxl);
    --tgph-align-items: var(--tgph-align-items-xxl);
    --tgph-justify-content: var(--tgph-justify-content-xxl);
    --flex-wrap: var(--tgph-flex-wrap-xxl);
    --tgph-gap: var(--tgph-gap-xxl);

  }
}
