.tgph-stack {
  --display: flex;
  --direction: row;
  --wrap: nowrap;
  --justify: flex-start;
  --align: stretch;
  --gap: 0;

  display: var(--display);
  flex-direction: var(--direction);
  flex-wrap: var(--wrap);
  justify-content: var(--justify);
  align-items: var(--align);
  gap: var(--gap);
}
