.tgph-icon {
  display: inline-block;
}

.tgph-icon[data-tgph-icon-animation="spin"] {
  animation: tgph-icon-spin 1s infinite linear;
}

@keyframes tgph-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
